<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Never Gonna Give You Up</title>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="You have been rick rolled." />
		<meta name="robots" content="index, follow" />

		<link rel="icon" type="ico" href="/static/img/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>

	<body>
		{{ template "main" . }}
	</body>
</html>
